.calendar_page {
  display: flex;
  flex-direction: row;
}

.calendar_container {
  width: 83vw;
  margin: 1vh 1vw;
  margin-bottom: 0;
  border: 1px solid #ddd;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 10px;
  height: 98vh;
  overflow: auto;
}

.calendar_container header {
  background-color: darkred;
  border-radius: 30px 30px 0 0;
  color: white;
  padding: 15px;
  padding-top: 5px;
  display: flex;
  height: 13%;
}

.calendar-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.calendar-button:hover {
  background-color: #0056b3;
}

.day {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.day:hover {
  background-color: #777;
  cursor: pointer;
}

.days_of_week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  height: calc(3vw+1vh);
  overflow: hidden;
}

.days_of_week div {
  font-size: 2vw;
  text-align: center;
}

.calendar_grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 120px);
  grid-gap: 10px;
}

.calendar_date {
  margin-top: 1vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 95%;
  justify-content: center;
}

.calendar_date #date {
  margin-top: -10px;
  padding: 0;
  width: 45%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:5vh;
}

#date h2 {
  margin-top: 1vh;
  color: #eee;
  font-size: 3vw;
}

.fullscreen-day-schedule {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.day-schedule {
  width: 70vw;
  height: 90vh;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow-y: auto;
}

.day-schedule h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.day-schedule label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.day-schedule input[type="text"],
.day-schedule input[type="date"],
.day-schedule input[type="time"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.day-schedule button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
}

.day-schedule button:hover {
  background-color: #0056b3;
}

.day-schedule ul {
  text-align: left;
  margin-top: 10px;
}

.day-schedule ul li {
  list-style-type: none;
  margin-bottom: 5px;
  color: #555;
}

.close-button {
  background-color: #ccc;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.close-button:hover {
  background-color: #999;
}
.day-schedule .meetings-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.day-schedule .meetings-list ul{
  padding:0;
  margin:0;
}
.day-schedule .meeting-item {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.day-schedule .meeting-item .meeting-details {
  flex: 1;
}

.day-schedule .meeting-item .meeting-actions button {
  background-color: darkred;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  margin-left: 10px;
}

.day-schedule .meeting-item .meeting-actions button:hover {
  background-color: #ff3333;
}

.day-schedule .participants-list {
  list-style-type: none;
  padding: 0;
}

.day-schedule .participants-list li {
  margin-bottom: 5px;
}

@media only screen and (max-width: 500px) {
  .calendar_page {
    height: 100%;
    display: flex;
    flex-direction: column;
    
  }
  .calendar_date #date{
    padding-top: 3vh;

  }

  #date h2{
    font-size: 5vw;
  }
  .days_of_week{
    height: 2vh;
  }
  .days_of_week div{
    font-size: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .calendar_container {
    height: 89vh;
    width: 98vw;
    margin:0.5vh auto;
  }
  .calendar_grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 11vh);
    grid-gap: 3px;
  }
  .day-schedule{
    width:95vw;
    overflow: auto;
  }
}
